
/* TODO: REMOVE UNUSED FONT WEIGHTS */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400|Roboto:300,400,700|Space+Mono:400,700&display=swap');

:root {
  --main-bg-color: #FFFFF;
  --accent-color: #009AA6;
  --accent-color-b: #B19428;
  --accent-color-c: #AE4D29;
  --font-heading: 'Space Mono', sans-serif;
  --font-body: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
  font-weight: 400;
}


html {
 font-family: var(--font-body);
 font-weight: 300;
 font-size: 1em;
}


@media (min-width: 1000px) {
  html {
    font-size: 1.25em;
  }
}

.nav-links {
  width: 90%;
  margin: 1em auto;
  font-size: 1.333em;
  color: var(--accent-color);
  font-family: var(--font-body);
  font-weight: 400;
  text-transform: lowercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links img {
  height: 72px;
  align-self: flex-end;
}

.nav-links span {
  display: inline-block;
  margin-right: 2em;
}

.content {
  /* width: 100%; */
  padding: 0 10%;
  margin: 2em 0;
  font-size: 1.333em;
  position: relative;
}

.intro {
  width: 80%;
  margin: 30vh auto;
}

.intro h1 {
  font-size: 3em;
}

.intro p {
  font-size: 1.333em;
}

.portfolio > div .logos {
  margin: 1em 0 0 0;
}

.portfolio > div:nth-child(even) {
  background-color: rgb(0, 154, 166, .75);
}

.portfolio > div:nth-child(even) {
  margin-left: 20%;
}

.portfolio > div:nth-child(even) h2 {
  width: 100%;
  text-align: left;
}

.portfolio > div:nth-child(odd) .logos {
  text-align: right;
}

.portfolio > div:nth-child(odd) h2 {
  width: 100%;
  text-align: right;
}

.portfolio > div:nth-child(odd) {
  margin-right: 20%;
  background-color: rgb(177, 148, 40, .75);
}

.portfolio > div:nth-child(odd) h2 > svg {
  left: inherit;
  right: -400px;
}


h1 > svg, h2 > svg {
  position: absolute;
  left: -400px;
  top: calc(-200px + 1em);
}

@media (min-width: 1000px) {
  .content {
    padding: 0 10%;
    /* width: 100%; */
  }
}

h2 {
  font-size: 1.5em;
  position: relative;
}

.content > div {
  margin: 8em 0;
  /* width: 90%; */
}

.container {
  overflow:hidden;
}


body {
  margin: 0;
}

#container {
  position: relative;
}

#container > svg {
  /* width: 2000px; */
  /* height: 400px; */
  /* height: 0px; */
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.timeline .quote {
  /* font-style: italic; */
}

.timeline p:not(:first-of-type) {
  margin: 3em 0;
}

.timeline .student {
  font-weight: 700;
}

footer {
  height: 100px;
}

.portfolio > div {
  margin: 30vh 0;
  padding: 0.25em 3em 2em 3em;
}

.portfolio p {
  /* font-size: .75em; */
  /* width: 50%; */
  display: inline-block;
  line-height: 1.333em;
}

.portfolio .logos img{
  /* width: 70%; */
  max-height: 150px;
  max-width: 70%;

}

.portfolio .portfolio-image {
  width: 45%;
  display: inline-block;

}

.portfolio .portfolio-image img {
  width: 100%;
  clip-path: ;
}
